@import './reset';
@import './fonts';
@import './colors';
@import './mixins';
@import './theme';

body {
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral-600);
  font-size: var(--fs-base);
  font-family: var(--ff-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
textarea,
select,
button {
  color: var(--clr-text);
}
