@import './reset';
@import './fonts';
@import './colors';
@import './mixins';

:root {
  // Font Family
  --ff-base: 'Ubuntu', sans-serif;

  // Font Weights
  --fw-regular: 300;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  // Font Sizes
  --fs-base: 16px;
  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;

  // Expressive Colors
  --clr-primary-400: #{$clr-marine-blue};
  --clr-primary-600: #{$clr-purplish-blue};
  --clr-primary-700: #{$clr-pastel-blue};
  --clr-primary-800: #{$clr-light-blue};
  --clr-warn: #{$clr-strawberry-red};

  // Neutral colors
  --clr-neutral-600: #{$clr-cool-gray};
  --clr-neutral-700: #{$clr-light-gray};
  --clr-neutral-800: #{$clr-magnolia};
  --clr-neutral-850: #{$clr-alabaster};
  --clr-neutral-900: #{$clr-white};

  // Border Radius
  --br-100: 1px;
  --br-200: 2pt;
  --br-300: 3pt;
  --br-400: 5pt;
  --br-500: 10pt;
  --br-600: 20pt;
  --br-700: 50pt;
  --br-800: 120pt;
  --br-900: 50%;

  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-600);
  font-size: var(--fs-base);
  font-family: var(--ff-base);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
